.main {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
}
.videoSection {
  width: 100%;
  height: 100%;
  background-color: black;
  object-fit: cover;
  position: fixed;
  opacity: 0.6;
}
.section {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  top: 2rem;
  height: auto;
  padding: 0 5em;
  color: white;
}
