
.sub-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.sub-item {
    margin: 1em 0.5em;
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 1rem;
    width: 100%;
    height: auto;
    margin-bottom: 2.5rem;
    color: white;
    background-color: rgba(50, 9, 30, 0.5);
}

.section-container h1 {
    width: 100%;
    text-align: center;
}


@media (max-width: 600px) {
    .sub-items {
        gap: 0;
    }
    .sub-item{
        margin: 0.5em;
    }
}